.list-elements {
  list-style: none;
  margin-top: 5px;
}
#list {
  /* width: 400px; */
  height: auto;
  display: grid;
  place-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.dog-imgs {
  display: grid;
  place-items: center;
}
.heading1 {
  display: grid;
  place-items: center;
}

#loading-button {
  width: auto;
  display: block;
  place-self: center;
  margin: 20px;
}
